#title {
    background-color: grey;
    text-align: center;
    margin: 10px;
}

header {
    background-color: grey;
}
.is-active {
    color: black;   
}

.center {
    text-align: center;

}


.button {
    align-content: center;
    margin: 10px;
}

.callout {
    text-align: center;
    background-color: gray;
    margin: 30px;
    
}

.card {
    display: inline-block;
    margin: 2%;
    align-content: center;
    overflow: scroll;
    text-align: center;
}

#recipe {
    display: inline-block;
    margin: 5%;
}

.text {
    background-color: gray;
    text-align: center;
}


.store {
margin: 30px;
background-color: gainsboro;
align-items: center;
float: right;   
margin-right: 20%;
}

#savedRec {
    float: left;
    margin-left: 20%;
    overflow: scroll;
}


