#title {
    background-color: grey;
    text-align: center;
    margin: 10px;
}

header {
    background-color: grey;
}
.is-active {
    color: black;   
}

.center {
    text-align: center;

}

.ingredient {
    margin: 0 auto;
}

.button {
    align-content: center;
    margin: 10px;
}

.callout {
    text-align: center;
    background-color: gray;
    margin: 10px;
}

.row {
    inline-size: auto;
}

.card {
    display: inline-block;
    margin: 2%;
    align-content: center;
    overflow: scroll;
    text-align: center;
}

#recipe {
    display: inline-block;
    margin: 5%;
}

.text {
    background-color: gray;
    text-align: center;
}

footer {
    margin: 0%;
}



